{% extends 'layout/layout.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block content %}


    <br>
    <br>

    <h1> Champion not found </h1>

    <a href="/" class="btn btn-primary"> Go to home</a>

{% endblock %}
