{% extends 'layout/layout.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block content %}


    <br>
    <br>

    <div class="form-group row" style="margin-top: 40px">
        <p> Summoner name : </p>
        <div class="col-sm-6">
            <input type="text" class="form-control search" value="{{ name }}">
        </div>
        <div class="col-4">
            <button class="btn btn-primary btn-search"> Search </button>
        </div>

    </div>

    {{ include('layout/loader.html.twig') }}
    <div class="response" style="margin-top:50px">

    </div>


    {{ encore_entry_script_tags('summoner') }}



{% endblock %}
