{% extends 'layout/layout.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block content %}

    <form class="form" action="{{ path('security_login') }}" method="post" >

        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="_username">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="_password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

{% endblock %}

