
.pagination {
  display: inline-block;
}

.pagination li {
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  color: black!important;
  text-decoration: none;
}

.pagination .active {
  font-size: 25px;
  color: black!important;
  text-decoration: none;
}

.disabled {
  display : none!important;
}



.cards {
  background-color: #fff;
  border-radius: 25px;
  padding: 10px!important;
  box-shadow: rgba(34,35,58,.2) 0 14px 80px;
  box-sizing: border-box;
  width: 95%;
  margin-bottom: 30px;

  .img-card {
    margin-right: 20px;
  }

}