
.loader {
  height: 300px;
  width: 50%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

svg path, svg rect {
  fill: #FF6700;
}

.btn-navbar {
  margin-right: 10px;
}

.footer {
  margin-top: 40px;
  margin-bottom: 20px ;
}