{% extends 'layout/layout.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block content %}


    <div style="margin-top: 50px">
        <h1> Erreur : {{ message }}</h1>
    </div>


{% endblock %}
